html {
	boder:0; padding: 0; margin: 0;
	font-family: Arial;
	font-size: 13px;
}

body {
	boder:0; padding: 0; margin: 0;
}

div {
	clear: both;
	position: relative;
}

div div{
	position: relative;
	display: inline-block
}

#header {
	position: relative;
	width: 100%;
	height: 42px;
	margin-top: 10px;
}

#header div {
	top: 0px;
}

div#menu {
	top: 0px;
	float: right;
	padding: 0px 25px;
}

#header div div{
	vertical-align: middle;
	margin: 5px;
	opacity: .75;
}

#header a {
	text-decoration: none;
	color: #000;
	margin: 0px;
	margin-right: 0px;
}

#header div div a:hover {
	text-decoration: underline;
	cursor: pointer;
}


#header #apps {
	margin: 0; padding: 0;
	display: absolute;
	background-image: url(../images/google_nav.png);
	background-position: -132px -38px;
	width: 30px; height: 30px;
	opacity: .55;
	vertical-align: middle;
}

#header #apps:hover {
	opacity: 1;
}

a#apps_link {
	margin: 0; padding: 0;
	margin-left: 5px;
	margin-right: 6px;
	vertical-align: middle;
	display: inline-block;
	width: 30px; height: 30px;
	cursor: default;
}

a#apps_link:hover {
	cursor: default;
}

a#account_link:hover {
	cursor: default;
}

#header #reminder {
	margin: 0; paddin: 0;
	vertical-align: middle;
 	background-image: url(../images/google_nav.png);
	background-position: -194px -21px;
	width: 20px; height: 20px;
	background-color: rgb(0,0,0);
	border-radius: 100%;
	opacity: .55;
}

#header #reminder:hover {
	opacity: 1;
}

a#reminder_link {
	margin: 0; padding: 0;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: middle;
	display: inline-block;
	width: 20px; height: 20px;
	cursor: default;
}

a#reminder_link:hover {
	cursor: default;
}

#header #account {
	background-image: url(../images/a.jpg);
	background-size: 32px 32px;
	background-position: auto;
	height: 32px; width: 32px;
	background-color: rgba(0,0,0,.55);
	border-radius: 100%;
	opacity: 1;
}

div#canvas {
	background-color: blue;
}